---
import AdminBanner from './AdminBanner.astro';
import AdminLoginModal from './AdminLoginModal.astro';
import ImageLibraryPanel from './ImageLibraryPanel.astro';
import BlogManagerPanel from './BlogManagerPanel.astro';
import SeoEditorPanel from './SeoEditorPanel.astro';
import ImageEditorPanel from './ImageEditorPanel.astro';
import '../../styles/cms-admin.css';

interface Props {
  pageId: string;
  locale: 'en' | 'pt';
  isBlogPage: boolean;
}

const { pageId, locale, isBlogPage } = Astro.props;
---

<div
  id="cms-admin-root"
  data-page-id={pageId}
  data-locale={locale}
  data-is-blog-page={isBlogPage ? 'true' : 'false'}
  data-admin-allow
>
  <AdminLoginModal />
  <AdminBanner />
  <SeoEditorPanel />
  <ImageEditorPanel />
  <ImageLibraryPanel />
  <BlogManagerPanel />
</div>

<script type="module" src="/cms-admin.js"></script>
